.template-one {
  align-items: center;
  /* background-color: var(--gray-primary-400); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 400px;
  justify-content: center;
  width: 900px;
}

.input-search {
  border-radius: 8px;
  border: 1px solid var(--gray-primary-100);
  font-size: x-large;
  color: var(--gray-primary-200);
  display: flex;
  gap: 10px;
  height: 40px;
  width: 250px;
}

.inputContentsearch {
  align-items: center;
  background-color: var(--yellow-primary-100);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  height: 200px;
  justify-content: center;
  width: 600px;

}

.btn-search {
  display: flex;
  align-items: center;
  background-color: var(--gray-primary-25); 
  height: 40px;
  justify-content: center;
  width: fit-content;
  color: var(--black-primary);
  font-size: 18px;
}

.text-basic {
  width: 100%;
  height: 100px;
  background-color:aqua;
  color:black;
  font-size: 18px;
}